$default-font: 'Montserrat', sans-serif
$dark: #30363D
$primary: #F27A54
$secondary: #A154F2
$tertiary: #6FCF97
$grey: #F2F4F7
$grey-a: #3C444C
$grey-b: #747D88
$grey-c: #CBCFD4
$shadow-hover: 0px 5px 5px -5px rgba(151,163,184,.5),0px 15px 16px -15px rgba(151,163,184,.5),0px 25px 35px -25px rgba(151,163,184,.5)
$shadow-static: rgba(75, 86, 99, 0.094) 0px 8px 16px
$shadow-article: 0 30px 60px 0 rgba(0,0,0,.45)

$text: #333

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
