$default-font: 'Montserrat', sans-serif
$dark: #30363D
$primary: #F27A54
$secondary: #A154F2
$tertiary: #6FCF97
$grey: #F2F4F7
$grey-a: #3C444C
$grey-b: #747D88
$grey-c: #CBCFD4

$text: #333

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
